[Desktop Entry]
Type=Application
Name=Install Raspwidget
Exec=x-terminal-emulator -e "sh -c '$HOME/raspwidget/scripts/install.sh; read'"
Terminal=false
